/* Sidebar base */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #eee;
  padding: 20px 15px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

/* Sidebar when open */
.sidebar.sidebar-open {
  transform: translateX(0);
}

/* Logo */
.logo-container {
  margin-bottom: 1.5rem;
  text-align: center;
}

.heading {
  font-size: 16px;
  font-weight: bold;
}

/* Toggle Button */
.sidebar-toggle-btn {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 110;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 8px;
  display: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}


@media (max-width: 768px) {
  .sidebar-toggle-btn {
    display: block;
  }

  .sidebar {
    width: 40%;
  }
}


@media (min-width: 769px) {
  .sidebar {
    position: static;
    transform: translateX(0);
    height: auto;
    width: 170px;
  }

  .sidebar-toggle-btn {
    display: none;
  }
}
